{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Title in the browser tab -->
    <title> Log in </title>
  </head>

  <body class="view" style="background-image: url('https://images.unsplash.com/photo-1516620199567-9f8b632743b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c883b3a18696e63f9cf93de66ccf51a&auto=format&fit=crop&w=1936&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container-fluid">
      <br><br>
      <!-- Generating error messages in case of user information processing errors -->
      {% if errorMsg != "" %}
        <h2 class="text-center text-white"> {{ errorMsg }} </h2>
      {% endif %}
      <br><br>
      <div class="row w-25 mx-auto">
        <div class="col-md border border-info rounded shadow-lg bg-white">
          <p class="display-4 text-center mt-4"> Log In  </p>
          <!-- Login form -->
          <form id='loginForm' action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <i class="fa fa-user prefix white-text active"></i>
              <label for="email"> Email address: </label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
            <i class="fa fa-lock prefix white-text active"></i>
              <label for="pwd"> Password: </label>
              <input type="password" class="form-control" id="pwd" name="pwd" required>
            </div>
            <br>
            <div class="form-group">
              <input type="submit" class="btn btn-success btn-block" value="Submit" id="btnSubmit">
              <input type="reset" class="btn btn-danger btn-block" value="Reset" id="btnReset">
            </div>
            <br>
          </form>
            <!-- Register page link -->
            <div class="float-right mb-3">
              <button class="btn btn-link" id="btnRegister"> <a href="{% url 'register' %}"> Register  </a></button>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
