{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Title in the browser tab -->
    <title> Profile </title>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row mb-2">
        <div class="col-md-10 w-100">
          <h1 class="display-3 ml-3"> The Match App </h1>
        </div>
        <!-- Logout -->
        <div class="col-md-2 w-100 p-0">
          <a class="btn btn-success btn-lg float-right mt-3 mr-3 p-3" href="{% url 'logout' %}"> Log out </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 bg-secondary">
          <!-- Profile picture -->
          <img src="{{ user.profilePic.url }}" class="mt-2 mx-auto d-block img-thumbnail img-fluid" alt="IMAGE NOT FOUND">
          <br>
          <!-- User personal information -->
          <h2> <span class="badge badge-dark"> Personal Details </span> </h2>
          <br>
          <div>
              <h4> <span class="badge badge-light"> First name: </span> <small class="text-white"> {{ user.firstName }} </small> </h4>
          </div>
          <br>
          <div>
            <h4> <span class="badge badge-light"> Last name: </span> <small class="text-white"> {{ user.lastName }} </small> </h4>
          </div>
          <br>
          <div>
            <h4> <span class="badge badge-light"> Age: </span> <small class="text-white"> {{ user.age }} </small> </h4>
          </div>
          <br>
          <div>
              <h4> <span class="badge badge-light"> Date of birth: </span> <small class="text-white"> {{ user.dob }} </small> </h4>
            </div>
          <br>
          <div>
            <h4> <span class="badge badge-light"> Gender: </span> <small class="text-white"> {{ user.gender }} </small> </h4>
          </div>
          <br>
          <div>
            <h4> <span class="badge badge-light"> Email: </span> <small class="text-white"> {{ user.email }} </small> </h4>
          </div>
           <!-- User's hobby list -->
          <div class="group mt-5">
            <button type="button" class="btn btn-primary dropdown-toggle w-100" data-toggle="dropdown">
              My hobbies
            </button>
            <div class="dropdown-menu w-100">
              {% for hobby in user.hobbies.all %}
              <a class="dropdown-item text-center" href="#"> {{ hobby.hobbyName }} </a>
              {% endfor %}
            </div>
          </div>
          <br>
        </div>
        <!-- Notification section -->
        <div class="col-md-5 border border-dark border-bottom-0 border-right-0">
          <h2> <span class="badge badge-dark mt-3"> Posts </span> </h2>
        </div>
        <!-- Suggested user section -->
         <div class="col-md-4 border border-dark border-bottom-0 border-right-0">
          <h2> <span class="badge badge-dark mt-3"> Suggested users </span> </h2>
          <br>
          <div class="group-vertical">
            {% for u in users %}
              <!-- Dropdown button with suggested users' hobbies -->
                <div class="group">
                  <button type="button" class="btn btn-primary dropdown-toggle w-50" data-toggle="dropdown">
                    {{ u.firstName }} {{ u.lastName }}
                  </button>
                  {% if u.email in likes %}
                  <button type="button" class="btn btn-danger w-25 ml-3" id="{{ u.email }}" name="like" disabled> Like </button>
                  -<button type="button" class="btn btn-danger w-25 ml-3" id="{{ u.email }}" name="dislike"> Dislike </button>
                  {% else %}
                  <button type="button" class="btn btn-danger w-25 ml-3" id="{{ u.email }}" name="like"> Like </button>
                  <button type="button" class="btn btn-danger w-25 ml-3" id="{{ u.email }}" name="dislike" disabled> Dislike </button>-
                  {% endif %}

                  <div class="dropdown-menu w-50">
                    {% for hobby in u.hobbies.all %}
                    <a class="dropdown-item text-center" href="#"> {{ hobby.hobbyName }} </a>
                    {% endfor %}
                  </div>
                </div>
                <br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- AJAX -->
    <script type='text/javascript'>

      $(document).ready(function() {

        $('button').click(function() {

        if($(this).attr('id')){

          var val = $(this).attr('name');

          var from = "{{ user.email }}";
          var to = $(this).attr('id');

          if(val == "like"){

              $.ajax({
                  url: '/like/',
                  datatype: 'json',
                  type: 'PUT',
                  data: { 'fromUser': from, 'toUser': to },
                  success: function(data){

                  disableLikeButton(to)
                }
              });

              return false;
            }

            else{
              $.ajax({
                  url: '/dislike/',
                  datatype: 'json',
                  type: 'PUT',
                  data: { 'fromUser': from, 'toUser': to },
                  success: function(data){

                  enableLikeButton(to)
                }
              });

              return false;
            }
          }
        });
      });

      function disableLikeButton(toUser){
          //var btn = document.getElementById(toUser);
          //btn.disabled = true;

          //Disable like button
          $("button[id='" + toUser + "']").filter("button[name='like']").prop("disabled", true);

          //Enable dislike button
          $("button[id='" + toUser + "']").filter("button[name='dislike']").prop("disabled", false) ;
      }

      function enableLikeButton(toUser){
          //Enable like button
          $("button[id='" + toUser + "']").filter("button[name='like']").prop("disabled", false);

          //Disable dislike button
          $("button[id='" + toUser + "']").filter("button[name='dislike']").prop("disabled", true) ;
      }

    </script>
  </body>
</html>
