{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title> Profile </title>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row">
        <div class="col-md-10 w-100">
          <h1 class="display-3 ml-3"> MatchApp </h1>
        </div>
        <div class="col-md-2 w-100 p-0">
          <a class="btn btn-success btn-lg float-right mt-3 mr-3 p-3" href="{% url 'index' %}"> Log out </a>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-md-4 bg-secondary h-100">
          <img src="{{ user.profilePic.url }}" class="mx-auto d-block img-thumbnail img-fluid" alt="IMAGE NOT FOUND">
          <br>
          <br>
          <h3 class="text-white"> General info </h3>
          <br>
          <ul style="list-style-type:none">
            <li class="text-white"> <h5> First name: {{ user.firstName }} <h5> </li> <br>
            <li class="text-white"> <h5> Last name: {{ user.lastName }} <h5> </li> <br>
            <li class="text-white"> <h5> Age: {{ user.age }} <h5> </li> <br>
            <li class="text-white"> <h5> Date of birth: {{ user.dob }} <h5> </li> <br>
            <li class="text-white"> <h5> Gender: {{ user.gender }} <h5> </li> <br>
            <li class="text-white"> <h5> Email: {{ user.email }} <h5> </li> <br>
          </ul>
          <br>
          <br>
        </div>

        <div class="col-md-3">
          <h3> My hobbies </h3>
          <br>
          <ul id= 'hobbyList' style="list-style-type:none">
            {% for hobbies in user.hobbies.all %}
            <li> <h5> {{ hobbies.hobbyName }} </h5> </li> <br>
            {% endfor %}
          </ul>
          <br>
          <br>
        </div>

        <div class="col-md-5">
          <h3> Suggested users </h3>
          <br>
          <div class="group-vertical">
            {% for u in users %}
              <!--{% if u.firstName != user.firstName and u.lastName != user.lastName %}-->
                <div class="group">
                  <button type="button" class="btn btn-primary dropdown-toggle w-50" data-toggle="dropdown">
                    {{ u.firstName }} {{ u.lastName }}
                  </button>
                  <button type="button" class="btn btn-danger w-25 ml-3"> Send like </button>
                  <div class="dropdown-menu w-50">
                    {% for hobby in u.hobbies.all %}
                    <a class="dropdown-item text-center" href="#"> {{ hobby.hobbyName }} </a>
                    {% endfor %}
                  </div>
                </div>
                <br>
              <!--{% endif %}-->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
