{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title> Profile </title>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-4 bg-secondary h-100">
          <img src="{% static 'MainApp/user.profilePic' %}" class="mx-auto d-block img-thumbnail img-fluid" alt="{{ user.profilePic }}">
          <br>
          <br>
          <h3 class="text-white"> General info </h3>
          <br>
          <ul style="list-style-type:none">
            <li class="text-white"> <h5> FirstName: {{ user.firstName }} <h5> </li> <br>
            <li class="text-white"> <h5> LastName: {{ user.lastName }} <h5> </li> <br>
            <li class="text-white"> <h5> Age: {{ user.age }} <h5> </li> <br>
            <li class="text-white"> <h5> Date of birth: {{ user.dob }} <h5> </li> <br>
            <li class="text-white"> <h5> Gender: {{ user.gender }} <h5> </li> <br>
            <li class="text-white"> <h5> Email: {{ user.email }} <h5> </li> <br>
          </ul>
          <br>
          <br>
        </div>

        <div class="col-md-3">
          <br>
          <h3> My hobbies </h3>
          <br>
          <ul id= 'hobbyList' style="list-style-type:none">
            {% for hobbies in user.hobbies.all %}
            <li> <h5> {{ hobbies.hobbyName }} </h5> </li> <br>
            {% endfor %}
          </ul>
          <br>
          <br>
        </div>

        <div class="col-md-5">
          <br>
          <h3> My hobbies </h3>

          <ul>
            <li> Hobby 1</li>
            <li> Hobby 1 </li>
            <li> Hobby 1 </li>
            <li> Hobby 1 </li>
            <li> Hobby 1 </li>
            <li> Hobby 1 </li>
            <li> Hobby 1 </li>
          </ul>
          <br><br>
        </div>
      </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
